[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "openmetrics"]
	path = openmetrics
	url = https://github.com/atheriel/openmetrics
	shallow = true
	registered = true
	oncran = true
[submodule "rsyslog"]
	path = rsyslog
	url = https://github.com/atheriel/rsyslog
	shallow = true
	registered = true
	oncran = true
